body {
    max-height: 40rem;
    background: linear-gradient(to right, #e3beca, #69cfe1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calcolatrice {
    width: 20rem;
    margin-top: 6rem;
    overflow: hidden;
    text-align: right;
    background-color: rgb(173, 16, 173);
}
.input-calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
button {
    border: none;
    line-height: 65px;
    text-align: center;
    font-size: 22px;
    margin: 0.2rem;
    margin-bottom: 0.5rem;
    border-radius: 20px;
    background-color: pink;
    color: black;
}
#display {
    border: none;
    line-height: 60px;
    font-size: 25px;
    height: 5rem;
    width: 30rem;
}

