/* IMPOSTAZIONI GENERALI */

body {
    font-family: Fira Sans;
    font-size: 1.5rem;
    line-height: 1.8;
}
h1 {
    line-height: 1;
    font-size: 4rem;
}
h2 {
    line-height: 1.1;
    font-size: 3.5rem;
}
h3 {
    line-height: 1.2;
    font-weight: bold;
    font-size: 2rem;
}
.bottone a {
    color: white;
    text-decoration: none;
}
.epico .bottone:hover {
    box-shadow: #d3d3d3;
    transition: 0.3s;
    cursor: pointer;
}
i {
    color: #e42424;
    font-size: 3rem;
}

/* HEADER */

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 20px;
    padding: 2rem 1rem;
}
.menu {
    display: flex;
    flex-direction: row;
}
.menu>li {
    overflow: hidden;
}
.container-butt {
    display: none;
    width: 15px;
    cursor: pointer;
    align-items: center;
}
#butt {
    display: none;
}
.button {
    background-color: #e42424;
    position: absolute;
    height: 10px;
    width: 30px;
}
.menu-b {
    color: #e42424;
}
.menu-b-blue {
    color:#6495ed;
}
.bottone {
    background: #3b387b;
    background: linear-gradient(275deg, #6cc1e2 0%, #392f7a 100%);
    font-size: 1.1rem;
    padding: 0.5rem;
}
a {
    text-decoration: none;
}

/* MAIN */

.epico {
    display: flex;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    min-height: 600px;
}
.epico>div {
    margin: 2rem;
    color: white;
}
div>.bottone {
    float: left;
}
article {
    margin-top: 4rem;
    text-align: center;
}
.article-with-icon h3 {
    margin-bottom: 1rem;
}
article>h2 {
    margin-bottom: 2rem;
}
.article-with-icon p {
    margin-bottom: 4rem;
}
.sfondo-blue {
    color: white;
    background-color: #0c0633;
    padding: 6rem 2rem;
    text-align: center;
}
.sfondo-blue>h2 {
    margin-bottom: 2rem;
}
.sfondo-blue .bottone {
    width: 8rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 2rem;
}
#notebook {
    margin-bottom: 2rem;
}
article .icon {
    display: flex;
    justify-content: center;
}
.emoticon p {
    margin-top: 0.2rem;
}
.icon i {
    padding-right: 1rem;
}
footer {
    background-color: rgb(238, 238, 238);
    padding: 4rem;
}
.articoli-footer {
    text-align: start;
}
.articoli-footer>h3 {
    padding-top: 2rem;
    margin-bottom:2rem;
    margin-top: -5rem;
}
.articoli-footer .bottone {
    width: 352px;
    text-align: center;
}
.social {
    margin-top:-2rem;
}
.articoli-footer input {
    width: 360px;
    height: 50px;
}
.articoli-footer i {
    padding: 0.6rem;
}
#parte-address{
    text-align:start;
}

/*CHI SIAMO*/
#sezione {
    margin: 1.5rem;
}
.chisiamo img{
   max-width: 100%;
}
#price{
    font-size: 1.2rem;
    margin-top:2rem;
}
#price-table{
    background-color:#d2dce7;
}
#price tr th{
    font-weight: bold;
    text-align: left;
}

/*CONTATTI*/

.nav {
    box-shadow: #d3d3d3;
}
#container {
    margin-top: 4rem;
}
.form-contatti{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-contatti input{
    margin: 0.5rem;
    padding: 0.5rem;
    width: 280px;
    font-style: italic;
}
.form-contatti input:nth-of-type(3){
   padding-bottom: 2.7rem;
}
.bottone {
    margin-top: 1rem;
}
.info-contatti p, address{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.info-contatti a {
    color: black
}

/*RESPONSIVE*/

@media (max-width: 640px) {
.container-butt {
 display: flex;
}
.menu {
position: absolute;
top: 0;
margin-top: 64px;
left: 0;
flex-direction: column;
width: 100%;
justify-content: center;
align-items: center;
}
#butt~.menu li {
height: 0;
margin: 0;
padding: 0;
border: 0;
transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#butt:checked~.menu li {
border: 1px solid tomato;
height: 2em;
padding: 0.3em;
transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu>li {
display: flex;
justify-content: center;
width: 100%;
background-color: white;
}
#table-large {
    display:none;
}
}

@media screen and (min-width: 768px){
.article-with-icon{
    display: flex;
  }
#butt~.menu li{
  width: 7.7rem;
}
.menu-b-blue {
    background: #3b387b;
    background: linear-gradient(275deg, #6cc1e2 0%, #392f7a 100%);
    font-size: 1.5rem;
    padding: 0.5rem;
    color:white;
}
#notebook{
    float: left;
    margin-top: -2rem;
}
.article-with-emoticon {
    padding: 5rem;
}
.emoticon>p {
    margin-bottom: -1rem;
}
footer{
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.articoli-footer .bottone {
    margin: 0;
    width: 192px;
}
.articoli-footer input {
    width: 200px;
    height: 50px;
}
.articoli-footer {
    padding: 2rem;
}
#parte-address {
    margin-top: 3rem;
}
#table-large{
    padding: 3.5rem;
    margin: 5rem auto;
    line-height: 3rem;
    text-align: center;
}
#table-large tr>th{
    background-color: #66819F;
    color:white;
}
#large td{
    padding: 0.2rem;
    background-color:#d2dce7;
}
#container{
    display: flex;
    margin:4rem;
}
.info-contatti {
    margin-top: -23rem;
    margin-bottom: 8rem;
    line-height: 2rem;
    padding-left: 25rem;
}
#note-fluo figure {
    display:flex;
}
figcaption {
    margin-top: 10rem;
}
#price {
    display:none;
}

}